### [파이썬과 웹크롤링]
#### 1. 다음은 인스타그램 접속과 관련된 코드의 일부이다. 밑줄친 부분에 시간을 2초간 지연하는 코드를 작성하시오.
driver.get('https://www.instargram.com')

In [11]:
import time
time.sleep(2)

#### 2. 다음과 같은 데이터프레임을 생성하시오.

In [57]:
import pandas as pd
import numpy as np

In [8]:
data = {'city' : ['Seoul','Daegu','Busan',' Gwangju'],
        'year' : [2000,2001,2002,2003],
        'pop' : [9.0,2.0,3.0,0.1]}
pd.DataFrame(data,columns = ['city','year','pop'])

       city  year  pop
0     Seoul  2000  9.0
1     Daegu  2001  2.0
2     Busan  2002  3.0
3   Gwangju  2003  0.1

#### [웹 데이터 전처리 및 정제/표준화]
1. 다음과 같은 배열을 생성하시오.

In [81]:
one1 = np.ones((10,10))
one1[:,0] = 0
one1[0,:] = 0
one1[:,-1] = 0
one1[-1,:] = 0
one1

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

#### 2. 데이터 정규화 / 표준화에 대해 비교 설명하시오.

#### 데이터 정규화 / 표준화
- 정규화: 관계형 데이터베이스의 설계에서 중복을 최소화하게 데이터를 구조화하는 프로세스. 서로 다른 범위를 가진 데이터들의 범위를 동일하게 하여 상대적인 크기 차이를 제거한다.  특정한 분포(ex. 정규분포)들의 평균과 분산
혹은 표준편차를 이용해 “속성값-평균/표준편차”로 해당 분포에서의 이 속성값이 평균으로부터의 위치를 표준편차 단위로 옮겨서 다시 나타낸 것이라고 할 수 있다.

- 표준화: 서로 다른 정규분포 사이에 비교를 하거나, 특정 정규분포를 토대로 하여 통계적 추정 등의 분석작업을 해야 할 때, 필요에 따라 정규분포의 분산과 표준편차를 표준에 맞게 통일시키는 것. 표준화를 하면 정규분포의 최고점으로부터 얼마나 데이터가 떨어져있는지 분포를 확인할 수 있다.

#### 2. 다음과 같은 데이터프레임을 생성하시오.

In [3]:
import pandas as pd
import numpy as np

In [8]:
data = {'city' : ['Seoul','Daegu','Busan',' Gwangju'],
        'year' : [2000,2001,2002,2003],
        'pop' : [9.0,2.0,3.0,0.1]}
pd.DataFrame(data,columns = ['city','year','pop'])

       city  year  pop
0     Seoul  2000  9.0
1     Daegu  2001  2.0
2     Busan  2002  3.0
3   Gwangju  2003  0.1

#### [정형 데이터처리 RDB]
다음 실행 예시처럼 교환할 돈을 입력받아서, 최소한의 동전의 개수로 교환해 주는 파이썬 코드를 작성하시오.
바꿀 돈 -->7777
500원: 15 , 100원: 2 , 50원: 1 , 10원 2 , 나머지: 7

In [86]:
money = int(input('바꿀 돈 입력: '))

바꿀 돈 입력: 7777

In [87]:

n500 = money // 500
money = money % 500
n100 = money // 100
money = money % 100
n100 = money // 100
money = money % 100
n50 = money // 50
money = money % 50
n10 = money // 10
change = money % 10
print("500원: {}개, 100원: {}개, 50원: {}개, 10원: {}개, 나머지: {}원".format(n500, n100, n50, n10, change))

500원: 15개, 100원: 0개, 50원: 1개, 10원: 2개, 나머지: 7원

In [98]:
def moneyChanger():
    money = int(input('바꿀 돈 입력: '))
    while True:
        if money >= 500:
            n500 = money // 500
            money = money % 500
            n100 = money // 100
            money = money % 100
            n100 = money // 100
            money = money % 100
            n50 = money // 50
            money = money % 50
            n10 = money // 10
            change = money % 10
        elif money >= 100 and money < 500:
            n500 = 0
            n100 = money // 100
            money = money % 100
            n100 = money // 100
            money = money % 100
            n50 = money // 50
            money = money % 50
            n10 = money // 10
            change = money % 10
        elif money >= 50 and money < 100:
            n500 = 0
            n100 = 0
            n50 = money // 50
            money = money % 50
            n10 = money // 10
            change = money % 10
        elif money >= 10 and money < 50:
            n500 = 0
            n100 = 0
            n50 = 0
            n10 = money // 10
            change = money % 10
        elif money < 10:
            n500 = 0
            n100 = 0
            n50 = 0
            n10 = 0
            change = money

        return print("500원: {}개, 100원: {}개, 50원: {}개, 10원: {}개, 나머지: {}원".format(n500, n100, n50, n10, change))

moneyChanger()

바꿀 돈 입력: 7777
500원: 15개, 100원: 0개, 50원: 1개, 10원: 2개, 나머지: 7원