# 24 절기 2020년도

In [4]:
import pandas as pd
import numpy as np
from datetime import datetime

#2020년도 6월 기상청데이터 
- [참조: 기상청데이터](https://data.kma.go.kr/data/grnd/selectAsosRltmList.do?pgmNo=36)

In [14]:
df20_6=pd.read_csv("kWeather2020_6.csv",parse_dates=['일시'],encoding = "CP949")

In [15]:
df20_6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718 entries, 0 to 717
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지점       718 non-null    int64
 1   지점명      718 non-null    object
 2   일시       718 non-null    datetime64[ns]
 3   기온(°C)   718 non-null    float64
 4   강수량(mm)  112 non-null    float64
 5   습도(%)    718 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 33.8+ KB

In [20]:
df20_6

      지점 지점명                  일시  기온(°C)  강수량(mm)  습도(%)  요일
0    108  서울 2020-06-01 05:00:00    16.9      0.0     93   0
1    108  서울 2020-06-01 06:00:00    16.7      0.1     90   0
2    108  서울 2020-06-01 07:00:00    16.9      NaN     86   0
3    108  서울 2020-06-01 08:00:00    17.8      NaN     80   0
4    108  서울 2020-06-01 09:00:00    19.3      NaN     73   0
..   ...  ..                 ...     ...      ...    ...  ..
713  108  서울 2020-06-30 22:00:00    18.6      0.2     88   1
714  108  서울 2020-06-30 23:00:00    18.7      0.0     87   1
715  108  서울 2020-07-01 00:00:00    18.8      0.0     85   2
716  108  서울 2020-07-01 01:00:00    18.8      0.0     87   2
717  108  서울 2020-07-01 02:00:00    18.7      0.0     87   2

[718 rows x 7 columns]

In [19]:
df20_6['요일']=df20_6['일시'].dt.dayofweek

In [25]:
df20_6['강수량(mm)'].fillna(0, inplace=True)

In [50]:
df20_6.set_index('일시', inplace=True)

In [51]:
df20_6

                      지점 지점명  기온(°C)  강수량(mm)  습도(%)  요일
일시
2020-06-01 05:00:00  108  서울    16.9      0.0     93   0
2020-06-01 06:00:00  108  서울    16.7      0.1     90   0
2020-06-01 07:00:00  108  서울    16.9      0.0     86   0
2020-06-01 08:00:00  108  서울    17.8      0.0     80   0
2020-06-01 09:00:00  108  서울    19.3      0.0     73   0
...                  ...  ..     ...      ...    ...  ..
2020-06-30 22:00:00  108  서울    18.6      0.2     88   1
2020-06-30 23:00:00  108  서울    18.7      0.0     87   1
2020-07-01 00:00:00  108  서울    18.8      0.0     85   2
2020-07-01 01:00:00  108  서울    18.8      0.0     87   2
2020-07-01 02:00:00  108  서울    18.7      0.0     87   2

[718 rows x 6 columns]

# 2. 24절기 추출 및 데이터 전처리

24절기 컬럼 0 ~ 345도 를 일시 컬럼의 날짜에 대입  
mapping => 몇도에서 몇도는 1, 2, 3, 4 이런식으로

태양황경 (각도) 로 24절기에서 4등분 = 계절

데이터는, 공공데이터 포털의 특일 정보 에서 API로 받아옴

오퍼레이션명: get24DivisionsInfo = 24절기 정보조회
solYear  
solMonth  
ServiceKey  
json 타입, 디폴트 xml  
numOfRows  
http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/getHoliDeInfo?solYear=2019&solMonth=03&ServiceKey=서비스키

24절기 정보 조회  
오퍼레이션 번호: 3  
get24DivisionInfo  
월별로 구분(24절기), 요일, 공휴일 여부 등의 정보를 제공한다.  

https://m.blog.naver.com/k5808151/221625545385 (절기별 태양황경)  
http://www.linuxchannel.net/docs/solar-24terms.txt (참고)

In [28]:
from selenium import webdriver
from bs4 import BeautifulSoup
import re
import time

In [29]:
driver=webdriver.Chrome("/Users/jinwon-kim/Developer/chromedriver")

In [30]:
service_key="api서비스키"

In [31]:
data=[]
for num in range(1,13):
    month="{:02d}".format(num)
    url="http://apis.data.go.kr/B090041/openapi/service/SpcdeInfoService/get24DivisionsInfo?solYear=2020&solMonth={}&ServiceKey={}".format(month,service_key)
    driver.get(url)
    html=driver.page_source
    soup=BeautifulSoup(html, "xml")
    time.sleep(2)
    for i in range(len(soup.select("item"))):
        dateName=soup.select("item > dateName")[i].text.strip()
        locdate=soup.select("item > locdate")[i].text.strip()
        sunLongitude=soup.select("item > sunLongitude")[i].text.strip()
        print(dateName, locdate, sunLongitude)
        data.append([locdate, dateName, sunLongitude])
        time.sleep(1)

소한 20200106 285
대한 20200120 300
입춘 20200204 315
우수 20200219 330
경칩 20200305 345
춘분 20200320 0
청명 20200404 15
곡우 20200419 30
입하 20200505 45
소만 20200520 60
망종 20200605 75
하지 20200621 90
소서 20200707 105
대서 20200722 120
입추 20200807 135
처서 20200823 150
백로 20200907 165
추분 20200922 180
한로 20201008 195
상강 20201023 210
입동 20201107 225
소설 20201122 240
대설 20201207 255
동지 20201221 270

In [34]:
solarTerm=pd.DataFrame(data, columns=['날짜','명칭','태양황경'])
solarTerm.to_csv("solarTerm2020", index=False)

In [36]:
solarTerm_df=pd.read_csv("solarTerm2020")
solarTerm_df['날짜']=pd.to_datetime(solarTerm_df['날짜'],format='%Y%m%d')

In [37]:
solarTerm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      24 non-null     datetime64[ns]
 1   명칭      24 non-null     object
 2   태양황경    24 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 704.0+ bytes

In [38]:
solarTerm_df.set_index('날짜', inplace=True)

In [52]:
solarTerm_df

            명칭  태양황경
날짜
2020-01-06  소한   285
2020-01-20  대한   300
2020-02-04  입춘   315
2020-02-19  우수   330
2020-03-05  경칩   345
2020-03-20  춘분     0
2020-04-04  청명    15
2020-04-19  곡우    30
2020-05-05  입하    45
2020-05-20  소만    60
2020-06-05  망종    75
2020-06-21  하지    90
2020-07-07  소서   105
2020-07-22  대서   120
2020-08-07  입추   135
2020-08-23  처서   150
2020-09-07  백로   165
2020-09-22  추분   180
2020-10-08  한로   195
2020-10-23  상강   210
2020-11-07  입동   225
2020-11-22  소설   240
2020-12-07  대설   255
2020-12-21  동지   270

In [90]:
test_df=pd.merge(df20_6, solarTerm_df, left_index=True, right_index=True, how='left') #합집합표현

In [91]:
test_df

                      지점 지점명  기온(°C)  강수량(mm)  습도(%)  요일   명칭  태양황경
일시
2020-06-01 05:00:00  108  서울    16.9      0.0     93   0  NaN   NaN
2020-06-01 06:00:00  108  서울    16.7      0.1     90   0  NaN   NaN
2020-06-01 07:00:00  108  서울    16.9      0.0     86   0  NaN   NaN
2020-06-01 08:00:00  108  서울    17.8      0.0     80   0  NaN   NaN
2020-06-01 09:00:00  108  서울    19.3      0.0     73   0  NaN   NaN
...                  ...  ..     ...      ...    ...  ..  ...   ...
2020-06-30 22:00:00  108  서울    18.6      0.2     88   1  NaN   NaN
2020-06-30 23:00:00  108  서울    18.7      0.0     87   1  NaN   NaN
2020-07-01 00:00:00  108  서울    18.8      0.0     85   2  NaN   NaN
2020-07-01 01:00:00  108  서울    18.8      0.0     87   2  NaN   NaN
2020-07-01 02:00:00  108  서울    18.7      0.0     87   2  NaN   NaN

[718 rows x 8 columns]

In [92]:
test_df['태양황경'].fillna(method='ffill', inplace=True)
test_df['명칭'].fillna(method='ffill', inplace=True)

In [93]:
test_df['태양황경'].fillna(60, inplace=True)
test_df['명칭'].fillna('소만', inplace=True)

In [94]:
test_df

                      지점 지점명  기온(°C)  강수량(mm)  습도(%)  요일  명칭  태양황경
일시
2020-06-01 05:00:00  108  서울    16.9      0.0     93   0  소만  60.0
2020-06-01 06:00:00  108  서울    16.7      0.1     90   0  소만  60.0
2020-06-01 07:00:00  108  서울    16.9      0.0     86   0  소만  60.0
2020-06-01 08:00:00  108  서울    17.8      0.0     80   0  소만  60.0
2020-06-01 09:00:00  108  서울    19.3      0.0     73   0  소만  60.0
...                  ...  ..     ...      ...    ...  ..  ..   ...
2020-06-30 22:00:00  108  서울    18.6      0.2     88   1  하지  90.0
2020-06-30 23:00:00  108  서울    18.7      0.0     87   1  하지  90.0
2020-07-01 00:00:00  108  서울    18.8      0.0     85   2  하지  90.0
2020-07-01 01:00:00  108  서울    18.8      0.0     87   2  하지  90.0
2020-07-01 02:00:00  108  서울    18.7      0.0     87   2  하지  90.0

[718 rows x 8 columns]

In [95]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 718 entries, 2020-06-01 05:00:00 to 2020-07-01 02:00:00
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지점       718 non-null    int64
 1   지점명      718 non-null    object
 2   기온(°C)   718 non-null    float64
 3   강수량(mm)  718 non-null    float64
 4   습도(%)    718 non-null    int64
 5   요일       718 non-null    int64
 6   명칭       718 non-null    object
 7   태양황경     718 non-null    float64
dtypes: float64(3), int64(3), object(2)
memory usage: 70.5+ KB

In [96]:
test_df['태양황경']=test_df['태양황경'].astype(int)

In [97]:
test_df['season']=test_df['태양황경']

In [98]:
test_df['season'].replace([315, 330, 345, 0, 15, 30], 1, inplace=True) #봄
test_df['season'].replace([45, 60, 75, 90, 105, 120],2, inplace=True) #여름
test_df['season'].replace([135, 150, 165, 180, 195, 210],3, inplace=True) #가을
test_df['season'].replace([225, 240, 255, 270, 285, 300],4, inplace=True) #겨울

In [99]:
test_df

                      지점 지점명  기온(°C)  강수량(mm)  습도(%)  요일  명칭  태양황경  season
일시
2020-06-01 05:00:00  108  서울    16.9      0.0     93   0  소만    60       2
2020-06-01 06:00:00  108  서울    16.7      0.1     90   0  소만    60       2
2020-06-01 07:00:00  108  서울    16.9      0.0     86   0  소만    60       2
2020-06-01 08:00:00  108  서울    17.8      0.0     80   0  소만    60       2
2020-06-01 09:00:00  108  서울    19.3      0.0     73   0  소만    60       2
...                  ...  ..     ...      ...    ...  ..  ..   ...     ...
2020-06-30 22:00:00  108  서울    18.6      0.2     88   1  하지    90       2
2020-06-30 23:00:00  108  서울    18.7      0.0     87   1  하지    90       2
2020-07-01 00:00:00  108  서울    18.8      0.0     85   2  하지    90       2
2020-07-01 01:00:00  108  서울    18.8      0.0     87   2  하지    90       2
2020-07-01 02:00:00  108  서울    18.7      0.0     87   2  하지    90       2

[718 rows x 9 columns]

In [100]:
test_df['season']=test_df['season'].astype('category')

In [101]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 718 entries, 2020-06-01 05:00:00 to 2020-07-01 02:00:00
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지점       718 non-null    int64
 1   지점명      718 non-null    object
 2   기온(°C)   718 non-null    float64
 3   강수량(mm)  718 non-null    float64
 4   습도(%)    718 non-null    int64
 5   요일       718 non-null    int64
 6   명칭       718 non-null    object
 7   태양황경     718 non-null    int64
 8   season   718 non-null    category
dtypes: category(1), float64(2), int64(4), object(2)
memory usage: 71.3+ KB

In [103]:
test_df.to_excel('seasons2020_6.xlsx', index=False)