In [94]:
import pandas as pd
import numpy as np

In [95]:
Train = pd.read_csv('preprocesed.csv')

In [96]:
from sklearn.model_selection import train_test_split

In [97]:
Train.head()

,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,주문량,월,화,...,속옷,의류,이미용,잡화,주방,침구,가을,겨울,봄,여름
0,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000,81.754386,False,True,...,False,True,False,False,False,False,False,True,False,False
1,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000,174.310777,False,True,...,False,True,False,False,False,False,False,True,False,False
2,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000,167.218045,False,True,...,False,True,False,False,False,False,False,True,False,False
3,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,9337000,234.010025,False,True,...,False,True,False,False,False,False,False,True,False,False
4,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000,115.576271,False,True,...,True,False,False,False,False,False,False,True,False,False

In [98]:
Train[['월', '화', '수', '목', '금', '토','일', 
    'month', 'day', 'hour', 'resting_day', 'working_day', 
    '가구', '가전', '건강기능', '농수축', '생활용품', '속옷', '의류', '이미용', '잡화', '주방', '침구',
    '가을', '겨울', '봄', '여름']] = Train[['월', '화', '수', '목', '금', '토','일', 
    'month', 'day', 'hour', 'resting_day', 'working_day', 
    '가구', '가전', '건강기능', '농수축', '생활용품', '속옷', '의류', '이미용', '잡화', '주방', '침구',
    '가을', '겨울', '봄', '여름']] * 1

In [99]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36899 entries, 0 to 36898
Data columns (total 39 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   노출(분)        36899 non-null  float64
 1   마더코드         36899 non-null  int64
 2   상품코드         36899 non-null  int64
 3   상품명          36899 non-null  object
 4   상품군          36899 non-null  object
 5   판매단가         36899 non-null  int64
 6   취급액          36899 non-null  int64
 7   주문량          36899 non-null  float64
 8   월            36899 non-null  int32
 9   화            36899 non-null  int32
 10  수            36899 non-null  int32
 11  목            36899 non-null  int32
 12  금            36899 non-null  int32
 13  토            36899 non-null  int32
 14  일            36899 non-null  int32
 15  요일           36899 non-null  int64
 16  month        36899 non-null  int64
 17  day          36899 non-null  int64
 18  hour         36899 non-null  int64
 19  휴일           36899 non-null  int64
 20  resting_day  36899 non-null  int32
 21  working_day  36899 non-null  int32
 22  소비자심리지수      36899 non-null  float64
 23  season       36899 non-null  object
 24  가구           36899 non-null  int32
 25  가전           36899 non-null  int32
 26  건강기능         36899 non-null  int32
 27  농수축          36899 non-null  int32
 28  생활용품         36899 non-null  int32
 29  속옷           36899 non-null  int32
 30  의류           36899 non-null  int32
 31  이미용          36899 non-null  int32
 32  잡화           36899 non-null  int32
 33  주방           36899 non-null  int32
 34  침구           36899 non-null  int32
 35  가을           36899 non-null  int32
 36  겨울           36899 non-null  int32
 37  봄            36899 non-null  int32
 38  여름           36899 non-null  int32
dtypes: float64(3), int32(24), int64(9), object(3)
memory usage: 7.6+ MB

In [119]:
x = Train.drop(['취급액','상품군','주문량','상품명',
                'season'],axis = 1)
y = Train['취급액']

In [120]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36899 entries, 0 to 36898
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   노출(분)        36899 non-null  float64
 1   마더코드         36899 non-null  int64
 2   상품코드         36899 non-null  int64
 3   판매단가         36899 non-null  int64
 4   월            36899 non-null  int32
 5   화            36899 non-null  int32
 6   수            36899 non-null  int32
 7   목            36899 non-null  int32
 8   금            36899 non-null  int32
 9   토            36899 non-null  int32
 10  일            36899 non-null  int32
 11  요일           36899 non-null  int64
 12  month        36899 non-null  int64
 13  day          36899 non-null  int64
 14  hour         36899 non-null  int64
 15  휴일           36899 non-null  int64
 16  resting_day  36899 non-null  int32
 17  working_day  36899 non-null  int32
 18  소비자심리지수      36899 non-null  float64
 19  가구           36899 non-null  int32
 20  가전           36899 non-null  int32
 21  건강기능         36899 non-null  int32
 22  농수축          36899 non-null  int32
 23  생활용품         36899 non-null  int32
 24  속옷           36899 non-null  int32
 25  의류           36899 non-null  int32
 26  이미용          36899 non-null  int32
 27  잡화           36899 non-null  int32
 28  주방           36899 non-null  int32
 29  침구           36899 non-null  int32
 30  가을           36899 non-null  int32
 31  겨울           36899 non-null  int32
 32  봄            36899 non-null  int32
 33  여름           36899 non-null  int32
dtypes: float64(2), int32(24), int64(8)
memory usage: 6.2 MB

In [121]:
xTrain, xTest, yTrain, yTest = train_test_split(x,y,test_size = 0.3, random_state = 924)

In [122]:
xTrain.shape

(25829, 34)

In [123]:
yTrain.shape

(25829,)

In [124]:
xTest.shape

(11070, 34)

In [125]:
yTest.shape

(11070,)

In [126]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
myparam = { 
'n_estimators':[21,51,101,201,],
'min_samples_split':[2,4,6,8,10],
'max_depth':[3,5,7,9,11,13]}

In [127]:
rfModel =  RandomForestRegressor(n_estimators=151,
                              max_depth=13,
                              min_samples_split=10,
                              n_jobs=2,
                              random_state=42)

In [128]:
gridCV = GridSearchCV(rfModel, param_grid = myparam, cv = 5, n_jobs = 3)
gridCV.fit(xTrain,yTrain)
print(gridCV.best_params_)
gridCV.best_score_

{'max_depth': 13, 'min_samples_split': 10, 'n_estimators': 51}

0.5279000021869382

In [129]:
rfModel.fit(xTrain, yTrain)

RandomForestRegressor(max_depth=13, min_samples_split=10, n_estimators=151,
                      n_jobs=2, random_state=42)

In [130]:
pred = rfModel.predict(xTest)

In [131]:
pred.shape
rfModel.score(xTrain,yTrain)
# 0.645

0.6496916145876858

In [132]:
y_True = yTest.to_numpy()
y_True

array([ 4842000, 24908000,  2837000, ..., 40553000, 32439000,  3782000],
      dtype=int64)

In [133]:
pred

array([12482470.20716422, 38162204.36176737,  7684397.02919988, ...,
       40732690.45776679, 20697818.02254661, 11694515.16853559])

In [134]:
def MAPE(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

MAPE(y_True, pred)

C:\Users\joww0\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

inf

In [135]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

mean_absolute_percentage_error(y_True,pred)

C:\Users\joww0\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until

inf

In [136]:
predictions = rfModel.predict(xTest)

# Calculate the absolute errors
errors = abs(predictions - y_True)

# Print out the mean absolute error (mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')
mape = 100 * (errors / y_True)

# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

Mean Absolute Error: 9716114.65 degrees.
Accuracy: -inf %.

C:\Users\joww0\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in true_divide

In [137]:
def percentage_error(actual, predicted):
    res = np.empty(actual.shape)
    for j in range(actual.shape[0]):
        if actual[j] != 0:
            res[j] = (actual[j] - predicted[j]) / actual[j]
        else:
            res[j] = predicted[j] / np.mean(actual)
    return res

def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs(percentage_error(np.asarray(y_true), np.asarray(y_pred)))) * 100

mean_absolute_percentage_error(yTest,pred)

89.64016427384688