In [4]:
import pandas as pd
import numpy as np
import time as time

In [5]:
df  = pd.read_excel('View_data.xlsx',skiprows=1)
df.tail()

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
1436,01:56,0.000,0.000,0.000,0.000,0.027,0.000,0.000,0.000,0.000,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1437,01:57,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1438,01:58,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.017,0.000,0.000,0.015,0.000,0.000,0.019,0.000,0.004
1439,01:59,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1440,월화수목금토일02:00-01:59,0.004,0.006,0.002,0.003,0.002,0.003,0.003,0.002,0.003,...,0.010,0.006,0.006,0.007,0.004,0.006,0.004,0.005,0.005,0.004

In [6]:
# 2시부터 1시 59분까지 시청률 보이지 않게 하기
from_ts = '06:00'
to_ts = '01:59'
df = df[(df['시간대'] >= from_ts) | (df['시간대'] <= to_ts)]

In [7]:
df

,시간대,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,...,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31,2019-01-01 to 2019-12-31
240,06:00,0.000,0.000,0.000,0.000,0.026,0.000,0.000,0.000,0.000,...,0.008,0.000,0.000,0.000,0.000,0.017,0.000,0.000,0.000,0.002
241,06:01,0.000,0.009,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.008,0.000,0.000,0.000,0.000,0.017,0.000,0.000,0.000,0.002
242,06:02,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.008,0.000,0.000,0.000,0.000,0.017,0.000,0.020,0.000,0.002
243,06:03,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.008,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.003
244,06:04,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.008,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1436,01:56,0.000,0.000,0.000,0.000,0.027,0.000,0.000,0.000,0.000,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1437,01:57,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1438,01:58,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.017,0.000,0.000,0.015,0.000,0.000,0.019,0.000,0.004
1439,01:59,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.004,...,0.013,0.000,0.000,0.000,0.015,0.000,0.000,0.000,0.000,0.004
1440,월화수목금토일02:00-01:59,0.004,0.006,0.002,0.003,0.002,0.003,0.003,0.002,0.003,...,0.010,0.006,0.006,0.007,0.004,0.006,0.004,0.005,0.005,0.004

In [8]:
df = df.T

In [9]:
df.reset_index()

,index,240,241,242,243,244,245,246,247,248,...,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440
0,시간대,06:00,06:01,06:02,06:03,06:04,06:05,06:06,06:07,06:08,...,01:51,01:52,01:53,01:54,01:55,01:56,01:57,01:58,01:59,월화수목금토일02:00-01:59
1,2019-01-01,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.004
2,2019-01-02,0,0.009,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.006
3,2019-01-03,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.002
4,2019-01-04,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362,2019-12-28,0.017,0.017,0.017,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.006
363,2019-12-29,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.004
364,2019-12-30,0,0,0.02,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.019,0,0.005
365,2019-12-31,0,0,0,0,0,0,0,0,0.022,...,0,0,0,0,0,0,0,0,0,0.005
366,2019-01-01 to 2019-12-31,0.002,0.002,0.002,0.003,0.003,0.002,0.002,0.002,0.002,...,0.004,0.004,0.004,0.004,0.004,0.004,0.004,0.004,0.004,0.004

In [10]:
df.columns = df.iloc[0]

In [11]:
df = df.drop(df.index[0])

In [12]:
df = df.drop(df.index[-1])
df

시간대,06:00,06:01,06:02,06:03,06:04,06:05,06:06,06:07,06:08,06:09,...,01:51,01:52,01:53,01:54,01:55,01:56,01:57,01:58,01:59,월화수목금토일02:00-01:59
2019-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.004
2019-01-02,0,0.009,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.006
2019-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.002
2019-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.003
2019-01-05,0.026,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0.027,0,0,0,0.002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-27,0,0,0,0,0,0,0,0,0,0,...,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.015,0.004
2019-12-28,0.017,0.017,0.017,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.006
2019-12-29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.004
2019-12-30,0,0,0.02,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.019,0,0.005
2019-12-31,0,0,0,0,0,0,0,0,0.022,0,...,0,0,0,0,0,0,0,0,0,0.005

In [13]:
df.index = pd.to_datetime(df.index, format="%Y-%m-%d")

In [14]:
df = df.T

In [15]:
df

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
시간대,,,,,,,,,,,,,,,,,,,,,
06:00,0,0,0,0,0.026,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0,0
06:01,0,0.009,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0,0
06:02,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0.02,0
06:03,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0,0,0,0
06:04,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
01:56,0,0,0,0,0.027,0,0,0,0,0,...,0,0.013,0,0,0,0.015,0,0,0,0
01:57,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0,0,0,0.015,0,0,0,0
01:58,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0.017,0,0,0.015,0,0,0.019,0
01:59,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0,0,0,0.015,0,0,0,0
월화수목금토일02:00-01:59,0.004,0.006,0.002,0.003,0.002,0.003,0.003,0.002,0.003,0.002,...,0.004,0.01,0.006,0.006,0.007,0.004,0.006,0.004,0.005,0.005

In [16]:
df = df.drop(df.index[-1])
df

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
시간대,,,,,,,,,,,,,,,,,,,,,
06:00,0,0,0,0,0.026,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0,0
06:01,0,0.009,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0,0
06:02,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0.02,0
06:03,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0,0,0,0
06:04,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
01:55,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0,0,0,0.015,0,0,0,0
01:56,0,0,0,0,0.027,0,0,0,0,0,...,0,0.013,0,0,0,0.015,0,0,0,0
01:57,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0,0,0,0.015,0,0,0,0
01:58,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0.017,0,0,0.015,0,0,0.019,0
01:59,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0,0,0,0.015,0,0,0,0

In [17]:
df.index = pd.to_datetime(df.index, format="%H:%M")
df

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
시간대,,,,,,,,,,,,,,,,,,,,,
1900-01-01 06:00:00,0,0,0,0,0.026,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0,0
1900-01-01 06:01:00,0,0.009,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0,0
1900-01-01 06:02:00,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0.017,0,0.02,0
1900-01-01 06:03:00,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0,0,0,0
1900-01-01 06:04:00,0,0,0,0,0,0,0,0,0,0,...,0,0.008,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900-01-01 01:55:00,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0,0,0,0.015,0,0,0,0
1900-01-01 01:56:00,0,0,0,0,0.027,0,0,0,0,0,...,0,0.013,0,0,0,0.015,0,0,0,0
1900-01-01 01:57:00,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0,0,0,0.015,0,0,0,0
1900-01-01 01:58:00,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0.017,0,0,0.015,0,0,0.019,0
1900-01-01 01:59:00,0,0,0,0,0,0,0,0,0.004,0,...,0,0.013,0,0,0,0.015,0,0,0,0

In [18]:
df = df.resample('20T').sum()
df

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
시간대,,,,,,,,,,,,,,,,,,,,,
1900-01-01 00:00:00,0.000,0.118,0.000,0.000,0.000,0.121,0.018,0.015,0.000,0.000,...,0.066,0.266,0.017,0.000,0.011,0.000,0.000,0.000,0.000,0.532
1900-01-01 00:20:00,0.072,0.141,0.000,0.000,0.140,0.027,0.033,0.032,0.000,0.179,...,0.029,0.260,0.017,0.000,0.080,0.163,0.000,0.142,0.015,0.048
1900-01-01 00:40:00,0.048,0.014,0.015,0.000,0.030,0.018,0.214,0.018,0.000,0.000,...,0.291,0.408,0.103,0.000,0.094,0.105,0.000,0.048,0.005,0.000
1900-01-01 01:00:00,0.034,0.039,0.004,0.399,0.000,0.000,0.224,0.012,0.000,0.007,...,0.240,0.400,0.179,0.000,0.000,0.100,0.000,0.030,0.080,0.000
1900-01-01 01:20:00,0.000,0.000,0.000,0.071,0.267,0.000,0.200,0.000,0.000,0.013,...,0.252,0.267,0.240,0.000,0.000,0.037,0.000,0.012,0.012,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1900-01-01 22:20:00,0.060,0.029,0.000,0.654,0.000,0.000,0.014,0.000,0.011,0.000,...,0.000,0.000,0.105,0.116,0.021,0.000,0.555,0.333,0.013,1.005
1900-01-01 22:40:00,0.118,0.283,0.056,0.000,0.000,0.051,0.026,0.009,0.000,0.000,...,0.022,0.000,0.740,0.021,0.091,0.145,0.343,0.016,0.000,1.107
1900-01-01 23:00:00,0.019,0.549,0.145,0.049,0.000,0.243,0.008,0.020,0.000,0.000,...,0.043,0.029,0.189,0.126,0.058,0.000,0.309,0.096,0.000,0.027
1900-01-01 23:20:00,0.012,0.334,0.029,0.000,0.140,0.000,0.033,0.006,0.000,0.032,...,0.147,0.024,0.071,0.012,0.253,0.000,0.019,0.162,0.336,0.000
1900-01-01 23:40:00,0.000,0.132,0.000,0.000,0.000,0.000,0.000,0.156,0.010,0.000,...,0.000,0.272,0.021,0.000,0.171,0.036,0.000,0.000,0.000,0.412

In [19]:
df.index = df.index.strftime('%H:%M')
df

,2019-01-01,2019-01-02,2019-01-03,2019-01-04,2019-01-05,2019-01-06,2019-01-07,2019-01-08,2019-01-09,2019-01-10,...,2019-12-22,2019-12-23,2019-12-24,2019-12-25,2019-12-26,2019-12-27,2019-12-28,2019-12-29,2019-12-30,2019-12-31
시간대,,,,,,,,,,,,,,,,,,,,,
00:00,0.000,0.118,0.000,0.000,0.000,0.121,0.018,0.015,0.000,0.000,...,0.066,0.266,0.017,0.000,0.011,0.000,0.000,0.000,0.000,0.532
00:20,0.072,0.141,0.000,0.000,0.140,0.027,0.033,0.032,0.000,0.179,...,0.029,0.260,0.017,0.000,0.080,0.163,0.000,0.142,0.015,0.048
00:40,0.048,0.014,0.015,0.000,0.030,0.018,0.214,0.018,0.000,0.000,...,0.291,0.408,0.103,0.000,0.094,0.105,0.000,0.048,0.005,0.000
01:00,0.034,0.039,0.004,0.399,0.000,0.000,0.224,0.012,0.000,0.007,...,0.240,0.400,0.179,0.000,0.000,0.100,0.000,0.030,0.080,0.000
01:20,0.000,0.000,0.000,0.071,0.267,0.000,0.200,0.000,0.000,0.013,...,0.252,0.267,0.240,0.000,0.000,0.037,0.000,0.012,0.012,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22:20,0.060,0.029,0.000,0.654,0.000,0.000,0.014,0.000,0.011,0.000,...,0.000,0.000,0.105,0.116,0.021,0.000,0.555,0.333,0.013,1.005
22:40,0.118,0.283,0.056,0.000,0.000,0.051,0.026,0.009,0.000,0.000,...,0.022,0.000,0.740,0.021,0.091,0.145,0.343,0.016,0.000,1.107
23:00,0.019,0.549,0.145,0.049,0.000,0.243,0.008,0.020,0.000,0.000,...,0.043,0.029,0.189,0.126,0.058,0.000,0.309,0.096,0.000,0.027
23:20,0.012,0.334,0.029,0.000,0.140,0.000,0.033,0.006,0.000,0.032,...,0.147,0.024,0.071,0.012,0.253,0.000,0.019,0.162,0.336,0.000
23:40,0.000,0.132,0.000,0.000,0.000,0.000,0.000,0.156,0.010,0.000,...,0.000,0.272,0.021,0.000,0.171,0.036,0.000,0.000,0.000,0.412

In [20]:
df.index

Index(['00:00', '00:20', '00:40', '01:00', '01:20', '01:40', '02:00', '02:20',
       '02:40', '03:00', '03:20', '03:40', '04:00', '04:20', '04:40', '05:00',
       '05:20', '05:40', '06:00', '06:20', '06:40', '07:00', '07:20', '07:40',
       '08:00', '08:20', '08:40', '09:00', '09:20', '09:40', '10:00', '10:20',
       '10:40', '11:00', '11:20', '11:40', '12:00', '12:20', '12:40', '13:00',
       '13:20', '13:40', '14:00', '14:20', '14:40', '15:00', '15:20', '15:40',
       '16:00', '16:20', '16:40', '17:00', '17:20', '17:40', '18:00', '18:20',
       '18:40', '19:00', '19:20', '19:40', '20:00', '20:20', '20:40', '21:00',
       '21:20', '21:40', '22:00', '22:20', '22:40', '23:00', '23:20', '23:40'],
      dtype='object', name='시간대')

In [28]:
from_ts = '06:00'
to_ts = '01:59'
df = df[(df.index >= from_ts) | (df.index <= to_ts)]

In [29]:
# 노출분이 20분단위로 시청률의 합산
df.to_csv('20min_see.csv',encoding='utf-8')

TypeError: unsupported operand type(s) for +: 'Timestamp' and 'str'

In [38]:
import datetime

In [54]:
l=[]
for i in df.index:
    l.append(i-':00')
l = pd.to_datetime(l, format = "%H")

DatetimeIndex([], dtype='datetime64[ns]', freq=None)

In [58]:
list2=[]
for i in df.columns:
    for j in l:
        list2.append(i+j)
list2

[]

In [23]:
# df.groupby(pd.Grouper(freq="M")).sum()

In [24]:
data = pd.read_csv('result4Analysis.csv')
data.head()

,방송일시,노출(분),마더코드,상품코드,상품명,상품군,판매단가,취급액,주문량,요일,일시
0,2019-01-01 06:20:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,3262000.0,81.754386,1,2019-01-01 06:20:00
1,2019-01-01 06:20:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,6955000.0,174.310777,1,2019-01-01 06:20:00
2,2019-01-01 06:40:00,20.0,100346,201072,테이트 남성 셀린니트3종,의류,39900,6672000.0,167.218045,1,2019-01-01 06:40:00
3,2019-01-01 06:40:00,20.0,100346,201079,테이트 여성 셀린니트3종,의류,39900,9337000.0,234.010025,1,2019-01-01 06:40:00
4,2019-01-01 07:00:00,20.0,100305,200974,오모떼 레이스 파운데이션 브라,속옷,59000,6819000.0,115.576271,1,2019-01-01 07:00:00

In [25]:
# 노출 분이 20분이 아닌것의 비율  전체 데이터의 11%정도

In [26]:
np.round(((data.count() - data[data['노출(분)'] ==20].count()) / data.count()) * 100,2)

방송일시     11.72
노출(분)    11.72
마더코드     11.72
상품코드     11.72
상품명      11.72
상품군      11.72
판매단가     11.72
취급액      11.72
주문량      11.72
요일       11.72
일시       11.72
dtype: float64