In [333]:
import pandas as pd
import numpy as np
from datetime import datetime

### 2. bike.csv 파일을 읽고 데이터프레임(변수명:df)으로 저장

In [334]:
df = pd.read_csv('bike.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [335]:
df = pd.read_csv('bike.csv', parse_dates=['datetime'])
print(df)
df.info()

                 datetime  season  holiday  workingday  weather   temp  \
0     2011-01-01 00:00:00       1        0           0        1   9.84
1     2011-01-01 01:00:00       1        0           0        1   9.02
2     2011-01-01 02:00:00       1        0           0        1   9.02
3     2011-01-01 03:00:00       1        0           0        1   9.84
4     2011-01-01 04:00:00       1        0           0        1   9.84
...                   ...     ...      ...         ...      ...    ...
10881 2012-12-19 19:00:00       4        0           1        1  15.58
10882 2012-12-19 20:00:00       4        0           1        1  14.76
10883 2012-12-19 21:00:00       4        0           1        1  13.94
10884 2012-12-19 22:00:00       4        0           1        1  13.94
10885 2012-12-19 23:00:00       4        0           1        1  13.12

        atemp  humidity  windspeed  casual  registered  count
0      14.395        81     0.0000       3          13     16
1      13.635        80     0.0000       8          32     40
2      13.635        80     0.0000       5          27     32
3      14.395        75     0.0000       3          10     13
4      14.395        75     0.0000       0           1      1
...       ...       ...        ...     ...         ...    ...
10881  19.695        50    26.0027       7         329    336
10882  17.425        57    15.0013      10         231    241
10883  15.910        61    15.0013       4         164    168
10884  17.425        61     6.0032      12         117    129
10885  16.665        66     8.9981       4          84     88

[10886 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8)
memory usage: 1020.7 KB

### 3. season 컬럼

- season 종류 별 데이터 건수 출력

In [336]:
df.groupby('season').count()['datetime']

season
1    2686
2    2733
3    2733
4    2734
Name: datetime, dtype: int64

### 4. temp 컬럼

- 최대, 최소, 평균, 중앙값, 표준편차 출력

In [337]:
# 최대
df['temp'].max()

41.0

In [338]:
# 최소
df['temp'].min()

0.82

In [339]:
# 평균
df['temp'].mean()

20.230859819952173

In [340]:
# 중앙값
df['temp'].median()

20.5

In [341]:
# 표준편차
df['temp'].std()

7.791589843987506

### 4. temp 컬럼

- 월별 temp 평균 온도 출력

In [342]:
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [343]:
df2 = df.set_index('datetime')
df2 = df2.resample('M',)
df2.mean()['temp']

datetime
2011-01-31     8.633782
2011-02-28    11.331076
2011-03-31    14.063184
2011-04-30    17.776879
2011-05-31    21.528596
2011-06-30    28.191096
2011-07-31    29.967763
2011-08-31    29.667456
2011-09-30    25.141236
2011-10-31    20.903692
2011-11-30    16.036754
2011-12-31    12.897018
2012-01-31    10.987638
2012-02-29    12.256747
2012-03-31    17.704791
2012-04-30    19.661938
2012-05-31    23.819561
2012-06-30    25.937895
2012-07-31    31.715658
2012-08-31    29.805921
2012-09-30    26.412632
2012-10-31    20.963947
2012-11-30    14.332879
2012-12-31    14.765395
Freq: M, Name: temp, dtype: float64

### 4. temp 컬럼
- temp 컬럼 값을 0-10, 10-20, 20-30 구간으로 나눈다음, 구간별 데이터 건수를 출력

In [344]:
temp_range = pd.cut(df['temp'], bins=[0,10,20,30])
temp_range

0         (0, 10]
1         (0, 10]
2         (0, 10]
3         (0, 10]
4         (0, 10]
           ...
10881    (10, 20]
10882    (10, 20]
10883    (10, 20]
10884    (10, 20]
10885    (10, 20]
Name: temp, Length: 10886, dtype: category
Categories (3, interval[int64]): [(0, 10] < (10, 20] < (20, 30]]

In [345]:
pd.value_counts(temp_range)

(20, 30]    4334
(10, 20]    4049
(0, 10]     1259
Name: temp, dtype: int64

### 5. windspeed 컬럼

- 0으로 되어 있는 값의 개수를 세어 출력

In [346]:
df['windspeed'].value_counts().iloc[0]

1313

### 5. windspeed 컬럼


- 월별 windspeed 평균 풍속 출력(0 제외)

In [347]:
df3 = df.set_index('datetime')
df3 = df3.replace(0,np.NaN)
df3['windspeed'].resample('M').mean()

datetime
2011-01-31    15.352790
2011-02-28    18.013404
2011-03-31    16.945745
2011-04-30    17.042852
2011-05-31    14.299603
2011-06-30    13.301040
2011-07-31    13.433797
2011-08-31    14.192338
2011-09-30    12.960583
2011-10-31    13.639845
2011-11-30    14.650323
2011-12-31    13.646063
2012-01-31    16.466097
2012-02-29    14.195873
2012-03-31    16.359860
2012-04-30    16.797305
2012-05-31    13.671678
2012-06-30    13.961868
2012-07-31    11.724624
2012-08-31    12.975270
2012-09-30    13.906166
2012-10-31    13.704499
2012-11-30    14.896178
2012-12-31    12.542191
Freq: M, Name: windspeed, dtype: float64

### 6. weather 컬럼

- weather 종류 별 데이터 건수 출력

In [348]:
df.groupby('weather').count()['datetime']

weather
1    7192
2    2834
3     859
4       1
Name: datetime, dtype: int64

### 7. humidity 컬럼
- 2011년 평균 습도 출력

In [349]:
df4 = df.set_index('datetime')

In [350]:
split_date_2011 = pd.Timestamp('2011-12-19 23:00:00')
split_date_2012 = pd.Timestamp('2012-01-01 00:00:00')

In [351]:
hum_2011 = df4[:split_date_2011]
hum_2011['humidity'].mean()

63.40501659904094

### 7. humidity 컬럼
- 2012년 평균 습도 출력

In [352]:
hum_2012 = df4[split_date_2012:]
hum_2012['humidity'].mean()

60.37957540263543

### 7. humidity 컬럼
- 연도와 관계없이 월별 평균 습도 출력

In [353]:
df['datetime_month'] = df['datetime'].dt.month
df.groupby('datetime_month').mean()['humidity']

datetime_month
1     55.911765
2     56.296337
3     56.678135
4     55.697470
5     68.084430
6     58.759868
7     58.402412
8     63.010965
9     70.980198
10    69.412733
11    60.722283
12    68.383772
Name: humidity, dtype: float64

### 7. humidity 컬럼


- 표준편차(연도별) 출력

In [354]:
df['datetime_year'] = df['datetime'].dt.year
df.groupby('datetime_year').std()['humidity']

datetime_year
2011    19.780518
2012    18.578008
Name: humidity, dtype: float64

### 8. datetime 컬럼

- 월별(01~12) 평균 count 출력

- 일별(01~19) 평균 count 출력

- 시각별(0~23) 평균 count 출력

In [355]:
# 월 별 평균 count
df5 = df.set_index('datetime')
df5 = df5.replace(0,np.NaN)
df5['count'].resample('M').mean()

datetime
2011-01-31     54.645012
2011-02-28     73.641256
2011-03-31     86.849776
2011-04-30    111.026374
2011-05-31    174.809211
2011-06-30    196.877193
2011-07-31    203.614035
2011-08-31    182.666667
2011-09-30    174.622517
2011-10-31    174.773626
2011-11-30    155.458333
2011-12-31    134.173246
2012-01-31    124.353201
2012-02-29    145.646154
2012-03-31    208.276923
2012-04-30    257.455947
2012-05-31    264.109649
2012-06-30    287.186404
2012-07-31    267.037281
2012-08-31    285.570175
2012-09-30    292.598684
2012-10-31    280.508772
2012-11-30    231.980220
2012-12-31    217.054825
Freq: M, Name: count, dtype: float64

In [356]:
# 일 별 평균 count
df6 = df.set_index('datetime')
df6 = df6.replace(0,np.NaN)
df6['count'].resample('D').mean()

datetime
2011-01-01     41.041667
2011-01-02     34.826087
2011-01-03     61.318182
2011-01-04     67.913043
2011-01-05     69.565217
                 ...
2012-12-15    210.291667
2012-12-16    157.750000
2012-12-17    191.041667
2012-12-18    231.541667
2012-12-19    219.458333
Freq: D, Name: count, Length: 719, dtype: float64

In [357]:
# 시간 별 평균 count
df7 = df.set_index('datetime')
df7 = df7.replace(0,np.NaN)
df7['count'].resample('H').mean()

datetime
2011-01-01 00:00:00     16.0
2011-01-01 01:00:00     40.0
2011-01-01 02:00:00     32.0
2011-01-01 03:00:00     13.0
2011-01-01 04:00:00      1.0
                       ...
2012-12-19 19:00:00    336.0
2012-12-19 20:00:00    241.0
2012-12-19 21:00:00    168.0
2012-12-19 22:00:00    129.0
2012-12-19 23:00:00     88.0
Freq: H, Name: count, Length: 17256, dtype: float64

### 8. datetime 컬럼


- 평균 count값이 가장 큰 월 출력

- 평균 count값이 가장 큰 시각 출력

In [358]:
# 평균 count값이 가장 큰 월 출력
df7 = df.set_index('datetime')
df7 = df7.replace(0,np.NaN)
df7['count'].resample('M').mean().idxmax()

Timestamp('2012-09-30 00:00:00', freq='M')

In [359]:
# 평균 count값이 가장 큰 시각 출력

In [360]:
df8 = df.set_index('datetime')
df8 = df8.replace(0,np.NaN)
df8['count'].resample('H').mean().idxmax()

Timestamp('2012-09-12 18:00:00', freq='H')

### 9. 상관분석 

- temp와 count 간 상관 계수 출력

- humidity와 count 간 상관 계수 출력

- weather와 count 간 상관 계수 출력

- windspeed와 count 간 상관 계수 출력

- 위 4개의 features 중에서 상관 계수가 가장 큰 feature 출력

In [414]:
mydict = {}
df_T_C = pd.concat([df.temp, df['count']],axis=1)
df_T_C_cor = abs(df_T_C.corr().iloc[1][0])
mydict['df_T_C_cor'] = df_T_C_cor
print(df_T_C_cor)

0.39445364496725355

In [415]:
df_h_C = pd.concat([df.humidity, df['count']],axis=1)
df_h_C_cor = abs(df_h_C.corr().iloc[1][0])
mydict['df_h_C_cor'] = df_h_C_cor
print(df_h_C_cor)

0.31737147887659395

In [416]:
df_We_C = pd.concat([df.weather, df['count']],axis=1)
df_We_C_cor = abs(df_We_C.corr().iloc[1][0])
mydict['df_We_C_cor'] = df_We_C_cor
print(df_We_C_cor)

0.12865520103850703

In [417]:
df_Wi_C = pd.concat([df.windspeed, df['count']],axis=1)
df_Wi_C_cor = abs(df_Wi_C.corr().iloc[1][0])
mydict['df_Wi_C_cor'] = df_Wi_C_cor
print(df_Wi_C_cor)

0.10136947021033568

In [425]:
def f1(x):
    return mydict[x]

key_max = max(mydict.keys(), key = f1)
print('Max: ',key_max, mydict[key_max])

Max:  df_T_C_cor 0.39445364496725355