In [3]:
# 데이터 수집 -> 전처리 -> 분석 -> 시각화
# 데이터수집 -> 전처리 -> 분석 -> 시각화 -> 알고리즘 -> 모델링 -> 모델평가 및 개선

In [4]:
import pandas as pd

In [5]:
df1 = pd.read_csv('concat_1.csv')
df2 = pd.read_csv('concat_2.csv')
df3 = pd.read_csv('concat_3.csv')

In [7]:
rowConcat = pd.concat([df1, df2, df3])
rowConcat

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [9]:
rowConcat.loc[3]

     A    B    C    D
3   a3   b3   c3   d3
3   a7   b7   c7   d7
3  a11  b11  c11  d11

In [10]:
rowConcat.iloc[3]

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [15]:
newRowSeries = pd.DataFrame([['n1','n2','n3','n4']],columns = ['A','B','C','D'])

In [16]:
pd.concat([df1, newRowSeries])

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4