In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
billboard = pd.read_csv('billboard.csv')
billboard

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
billboard_long = pd.melt(billboard,id_vars=['year','artist','track','time','date.entered'],
       var_name='week',value_name='rating')

In [5]:
billboard_long.shape

(24092, 7)

In [6]:
billboard_long.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [10]:
billboard_long[billboard_long.track == 'Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [11]:
# 중복 데이터 제거
billboard_songs = billboard_long[['year','artist','track','time']]
billboard_songs

       year            artist                    track  time
0      2000             2 Pac  Baby Don't Cry (Keep...  4:22
1      2000           2Ge+her  The Hardest Part Of ...  3:15
2      2000      3 Doors Down               Kryptonite  3:53
3      2000      3 Doors Down                    Loser  4:24
4      2000          504 Boyz            Wobble Wobble  3:35
...     ...               ...                      ...   ...
24087  2000       Yankee Grey     Another Nine Minutes  3:10
24088  2000  Yearwood, Trisha          Real Live Woman  3:55
24089  2000   Ying Yang Twins  Whistle While You Tw...  4:19
24090  2000     Zombie Nation            Kernkraft 400  3:30
24091  2000   matchbox twenty                     Bent  4:12

[24092 rows x 4 columns]

In [12]:
# drop_duplicates() : 중복데이터 제거
billboard_songs = billboard_songs.drop_duplicates()
billboard_songs.shape

(317, 4)

In [17]:
billboard_songs['id'] = range(len(billboard_songs))
billboard_songs.head()

C:\Users\joww0\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   year        artist                    track  time  id
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   1
2  2000  3 Doors Down               Kryptonite  3:53   2
3  2000  3 Doors Down                    Loser  4:24   3
4  2000      504 Boyz            Wobble Wobble  3:35   4

In [14]:
billboard_long.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [20]:
billboard_ratings = billboard_long.merge(billboard_songs, on=['year','artist','track','time'])
billboard_ratings.shape

(24092, 8)

In [ ]:
'''
Dataframe index setting(설정/제거)
set_index: 기존 행 index 제거하고 컬럼 중에서 어느 하나를 index로 설정
reset_index:  

'''

In [ ]:
'''
dstack: (depth) 열의 수가 같은 두 개 이상의 배열을 연결 -> 행이 증가
vstack: 열의 수가 같은 두 개 이상의 배열을 연결 -> 행이 증가
(3*4), (3*4) -> dstack -> (3*4*2)
stack 함수는 dstack의 기능을 확장, dstack은 마지막 차원으로 연결
stcak은 사용자가 지정한 축으로 배열을 연결(axis = 0, 디폴트, 가장 앞쪽에 차원이 추가)
'''

In [ ]:
# 연관규칙(중요!)
'''
연관규칙: 머신러닝 관점에서 비지도학습.
머신러닝: 기계를 학습시킴. 마치 인간처럼 어떤 문제가 주어지면 문제에 대한 답을 스스로 고민하고 판단하도록 하는 능력 부여
- 지도학습: Xdata, Ydata 모두 존재.
- 비지도학습: 연관규칙
'''

In [21]:
'''
상품 추천 분석 기법?
1) 연관규칙분석(장바구니 분석): 기존 고객의 대규모 거래 데이터 존재
                -> 함께 구매가 발생하는 규칙 발견
                => 고객이 특정 상품 구매 시 이와 연관성이 높은 다른 상품을 추천하자!

2) 협업 필터링: 고객의 상품 구매 이력 데이터를 수치화
                -> 추천 대상 고객 A와 다른 고객 B에 대한 상관계수.
                => 서로 높은 상관관계에 해당되는 고객 B가 구매한 상품 중 고객 A가 구매한 적 없는 상품을
                   고객 A에게 추천!

3) 컨텐츠 기반 추천 시스템: 고객이 과거에 구매했던 상품들의 속성과 유사한 다른 상품 중 
                           미 구매상품 추천(상품 속성기반 추천)                        
'''

'\n상품 추천 분석 기법?\n1) 연관규칙분석(장바구니 분석): 기존 고객의 대규모 거래 데이터 존재\n                -> 함께 구매가 발생하는 규칙 발견\n                => 고객이 특정 상품 구매 시 이와 연관성이 높은 다른 상품을 추천하자!\n\n2) 협업 필터링: 고객의 상품 구매 이력 데이터를 수치화\n                -> 추천 대상 고객 A와 다른 고객 B에 대한 상관계수.\n                => 서로 높은 상관관계에 해당되는 고객 B가 구매한 상품 중 고객 A가 구매한 적 없는 상품을\n                   고객 A에게 추천!\n\n3) 컨텐츠 기반 추천 시스템: 고객이 과거에 구매했던 상품들의 속성과 유사한 다른 상품 중 \n                           미 구매상품 추천(상품 속성기반 추천)                        \n'

In [ ]:
'''
연관규칙
규칙?(rules): if 조건식 then 결과 (if A -> B)
연관규칙?: 특정 사건 발생 -> 함께 발생하는 다른 사건 간의 규칙.
          - 특정 항목 집합이 발생했을 떄 또 다른 항목 집합이 발생하는 규칙
항목집합(item set): 전체 항목 집합 중에서 만들어질 수 있는 모든 각각의 부분 집합
x = {a,b,c}
x의 부분집합: 2^3개
의미있는 연관규칙 발견 -> 기준: support(지지도), confidence(신뢰도), lift(향상도)
                            => 특히 향상도가 중요!

'''

In [ ]:
'''
X와 Y는 공통 원소가 없는 항목 집합이다.
X -> Y: if X then Y 라는 연관규칙 (X를 사는 사람은 Y도 사더라)\
N: 전체 거래 건 수
n(X): 항목 집합 X의 거래 건 수
n(Y): 항목 집합 Y의 거래 건 수

1) 지지도?
두 항목 집합 X와 Y의 지지도?
전체 거래 건 수 중에서 항목 집합 X와 Y를 모두 포함하는 거래건 수의 비율
*표기 예) s(X->Y): X를 구매하면 Y도 구매한다라는 규칙에 대한 지지도
                   X와 Y를 모두 포함하는 거래건수 / 전체 거래건수
                
2) 신뢰도?
항목 집합 X를 포함하는 거래(n(X)) 중에서 항목 집합 Y를 포함하고 있는 거래의 비율(조건부 확률)
*표기 예) c(X->Y) = X와 Y를 모두 포함하는 거래건수 / 항목 집합 X의 거래건수

3) 향상도?
항목 집합 X가 주어지지 않았을때의 항목집합 Y의 확률(분모) 대비 
항목 집합 X가 주어졌을 때의 항목집합 Y의 확률 증가 비율
=> 향상도가 1보다 크거나(+관계) 작다면(-관계) 우연적 기회(random chance)보다 우수함을 의미함.
(X와 Y가 서로 독립이면 Lift = 1)
*표기 예) Lift(X->Y) = c(X->Y) / s(Y)
        Lift(X->Y): 연관규칙 신뢰도 / 지지도  = c(X->Y) / s(Y)
s(Y): 전체 거래중에서 Y거래 건수의 비율



'''