In [1]:
'''
앞으로 일정

1. R분석 시각화 → 데이터 분석 프로젝트(개인, LH공사 아파트 관리비 데이터 패턴 분석) 
    → R머신러닝(DR, RF, KEMANS, KNN(논문), Bayes 이론 / 분류기(스팸/햄), APRIORI, 신경망, 회귀분석)

2. 파이썬 머신러닝(교재) → 텍스트 관련 프로젝트 → 딥러닝(11월 중순쯤? ANN, CNN, 이미지 프로젝트) 
    → 파이널프로젝트

# 일정 외 보충수업
- 딥러닝(RNN/LSTM) → 챗봇 프로젝트
- 주식(날씨, 전기료, 수도료 등등)예측
- 강화학습
'''

'\n앞으로 일정\n\n1. R분석 시각화 → 데이터 분석 프로젝트(개인, LH공사 아파트 관리비 데이터 패턴 분석) \n    → R머신러닝(DR, RF, KEMANS, KNN, Bayes 이론 / 분류기(스팸/햄), APRIORI, 신경망, 회귀분석)\n\n2. 파이썬 머신러닝(교재) → 텍스트 관련 프로젝트 → 딥러닝(11월 중순쯤? ANN, CNN, 이미지 프로젝트) \n    → 파이널프로젝트\n\n# 일정 외 보충수업\n- 딥러닝(RNN/LSTM) → 챗봇 프로젝트\n- 주식(날씨, 전기료, 수도료 등등)예측\n- 강화학습\n'

In [ ]:
'''
데이터 베이스: 데이터의 집합체(중복 → 일관성 유지 어려움 → 데이터 베이스 체계적 관리의 필요 
                            → DBMS(DataBase Managerment System))
DBMS: Oracle, MSSQL, MYSQL, SQLITE, MariaDB, ...너무 많아 → 공용어 SQL(Structured Query Language)

*파이썬 기본 제공 DBMS: SQLite3

DB 연결 / 해제, cursor, 데이터 삽입/로드/조회/수정/삭제

파이썬   SQLite
int     integer
float    real
str      text
bytes    BLOB
None     NULL
...

'''

In [ ]:
# Database
# 테이블 구조 설계(각 컬럼에 대한 타입 정의)
# CREATE TABLE 명령 → 데이터 저장(insert into) → 조회/수정/삭제/추가 ...

In [5]:
import sqlite3

# 기존 emp.db가 없다면 → 새롭게 생성하고 연결, 있다면 연결 진행.
conn = sqlite3.connect('emp.db')

In [6]:
# crate table 테이블명 (컬럼1 타입, 컬럼2 타입, ...)
conn.execute('create table emp_data(id integer, name text, nickname text,department text, employment_date text)') # 데이터 베이스 객체 변수를 이용하여 테이블 설계
# cursor 생성

In [7]:
# 데이터 저장을 위해서는 cursor가 필요함.
cur = conn.cursor()

In [8]:
# 한번에 여러개 추가.executemany
# insert into 테이블명 values(?,?, ... ,?)
# insert into 테이블명 values('a',100)  →  컬럼이 2개 

# data[('a',100),('b',200)]
# 'insert into emp_data values (?,?)', data

cur.executemany(
'insert into emp_data values (?, ?, ?, ?, ?)',
    [(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'),
     (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'),
     (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
     (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
     (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')        
    ])

In [9]:
cur.execute('select * from emp_data') 
# emp_data로부터 모든 데이터를 가져와라 → 가져온데이터 → cur가 데이터를 가리키고 있음.

In [10]:
for row in cur: # cur가 가리키고있는 위치부터 데이터를 하나씩 읽어가면서 row에 저장
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [11]:
# 데이터베이스 저장
conn.commit()

# 데이터 베이스 연결 종료
conn.close()

In [13]:
conn = sqlite3.connect('emp.db') # connecting database

In [15]:
cur = conn.cursor() # creating cursor

In [16]:
cur.execute('select * from emp_data')

In [17]:
for row in cur:
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [20]:
# cursor를 다시 위로 올려줘야해.
cur.execute('select * from emp_data')

In [21]:
rows = cur.fetchall()

In [22]:
print(rows)

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'), (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'), (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'), (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'), (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [24]:
# resource 관리 차원 
conn.close()

In [32]:
# emp_data를 가져와서 출력
conn = sqlite3.connect('emp.db')

In [33]:
cur = conn.cursor()

In [34]:
cur.execute('select * from emp_data')

In [35]:
rows = cur.fetchall()
rows

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'),
 (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'),
 (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
 (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
 (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [38]:
# 컬럼 명 추출
cols = [column[0] for column in cur.description]
cols

['id', 'name', 'nickname', 'department', 'employment_date']

In [39]:
import pandas as pd
import numpy as np

In [40]:
pd.DataFrame.from_records(data=rows,columns=cols)

   id     name nickname   department          employment_date
0   1  gildong       gd    marketing  2020-10-06 10:36:00.000
1   2  sunshin       ss    marketing  2019-10-06 10:36:00.000
2   3    yusin       ys  development  2020-01-06 10:36:00.000
3   4   sejong       sj    marketing  2020-05-06 10:36:00.000
4   5     bogo       bg  development  2020-07-06 10:36:00.000

In [41]:
# 테이블 제거
# drop table 테이블명
conn.execute('drop table emp_data')

In [42]:
conn.close()

In [43]:
conn = sqlite3.connect('emp.db')

In [44]:
cur = conn.cursor()

In [45]:
cur.execute('select * from emp_data')

OperationalError: no such table: emp_data

In [47]:
# 안드로이드에서도 sqlite 사용됨.
conn = sqlite3.connect('dbtest.db')

In [48]:
cur = conn.cursor()

In [49]:
cur.execute('create table test (name text, jumsu integer)')

In [50]:
cur.execute("insert into test values ('sunshin',100)")

In [51]:
cur.execute('select * from test')

In [52]:
cur.fetchall()

[('sunshin', 100)]

In [55]:
cur.execute("insert into test values (?,?)",('sunshin',100))

In [56]:
cur.execute('select * from test')
rows = cur.fetchall()
rows

[('sunshin', 100), ('sunshin', 100)]

In [57]:
# update 테이블명 set 컬럼=변경값 where 조건식
# 테이블로부터 조건식에 해당되는 데이터 컬럼값을 변경값으로 바꿈.
cur.execute("update test set jumsu=90 where name='sunshin'")

In [58]:
cur.execute('select * from test')
rows = cur.fetchall()
rows

[('sunshin', 90), ('sunshin', 90)]

In [59]:
# pandas 데이터프레임 → sqlite 테이블로 저장
data = {'c1':[1,2,3],
        'c2':[1,2,3],
        'c3':[1,2,3]}

In [60]:
df = pd.DataFrame(data)
df

   c1  c2  c3
0   1   1   1
1   2   2   2
2   3   3   3

In [62]:
conn = sqlite3.connect('cvTable.db')

In [63]:
# df를 cvTable에 mytable로 저장
df.to_sql('mytable',conn)

In [65]:
cur=conn.cursor()
cur.execute('select * from mytable') # *은 전체 컬럼 / 만약 c1를 알고싶다면 * 대신에 c1를 넣으면 됨
cur.fetchall()

[(0, 1, 1, 1), (1, 2, 2, 2), (2, 3, 3, 3)]